<header class="relative z-10 mx-i8 mt-i8 hidden bg-[#4372FF] py-4 text-white lg:block">
  <nav class="flex items-center justify-around">
    <ul class="flex gap-x-i32">
      <li>
        <a href="#0">о нас</a>
      </li>
      <li>
        <a href="#0">проекты</a>
      </li>
      <li>
        <a href="#0">команда</a>
      </li>
      <li>
        <a href="#0">медиа</a>
      </li>
      <li>
        <a href="#0">календарь</a>
      </li>
    </ul>
    <a class="block" href="/">
      <img src="logo.png" />
    </a>
    <ul class="flex gap-x-i32">
      <li>
        <a href="#0">партнеры</a>
      </li>
      <li>
        <a href="#0">гранты</a>
      </li>
      <li>
        <a href="#0">форумы</a>
      </li>
      <li>
        <a href="#0">вакансии</a>
      </li>
      <li>
        <a href="#0">контакты</a>
      </li>
    </ul>
  </nav>
</header>
