<div class="absolute inset-0 h-screen w-screen" data-controller="webgl">
  <div class="size-full" data-webgl-target="container"></div>
  <div
    class="pointer-events-none absolute inset-0 size-full bg-white opacity-100 transition-opacity"
    data-webgl-target="veil"
  ></div>
</div>
